
/* Generic styling */
html {
    /* font-size is 100% (16px | 1em) - which is default so unstated */
}

/* Generic styling */
body {
    /* template overrides */
    font-size: 1rem;
    max-width: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}




/*
            @media (min-width: $min-viewport-width) {
                :root {
                    $font-size-difference: $max-font-size - $min-font-size;
                    $viewport-width-difference: $max-viewport-width - $min-viewport-width;
                    font-size: calc(100% + ((1vw - #{$min-viewport-width / 100}) * #{100 * $font-size-difference / $viewport-width-difference}));
                }
            }

            // Stop font scaling above $max-viewport-width
            @media (min-width: $max-viewport-width) {
                :root {
                    font-size: $max-font-size;
                }
        }

        */

.head2 {
    font-size: 16px;
    font-weight: bold;
}

.thoigian {
    font-size: .65rem;
    height: calc(25px + ((1vw - 0.2px) * (100* 0.046875))) !important;
    line-height: calc(25px + ((1vw - 0.2px) * (100* 0.046875))) !important;
}

.solieu {
    font-size: 1.1rem;
    height: calc(30px + ((1vw - 0.2px) * (100* 0.046875))) !important;
    line-height: calc(30px + ((1vw - 0.2px) * (100* 0.046875))) !important;
}

.half-circle-ribbon {
    background: gray;
    color: #FFF;
    /*max-height: 65%;*/
    width: 65%;
    /* text-align: right; */
    padding-top: 5px;
    padding-right: 0px;
    position: absolute;
    bottom: 0px;
    left: 1px;
    flex-direction: row;
    border-radius: 0 100% 0 0;
    border: 1px dashed #FFF;
    box-shadow: 0 0 0 3px #EA4335;
    vertical-align: bottom;
    text-align: left;
    font-size: 0.5rem;
    z-index: 9;
}

.tasklabel {
    position: absolute;
    top: 0px;
    z-index: 10;
    width: 100%;
    overflow: hidden;
}

@media (min-width: 20em) {
    :root {
        font-size: calc(1rem + ((1vw - 0.2em) * (100* 0.06)));
    }

    .head2 {
        font-size: .5rem;
    }

    .thoigian {
        font-size: .55rem;
        height: calc(25px + ((1vw - 0.2px) * (100* 0.046875))) !important;
        line-height: calc(25px + ((1vw - 0.2px) * (100* 0.046875))) !important;
    }

    .solieu {
        font-size: 1.1rem;
        height: calc(30px + ((1vw - 0.2px) * (100* 0.046875))) !important;
        line-height: calc(30px + ((1vw - 0.2px) * (100* 0.046875))) !important;
    }

    .half-circle-ribbon {
        font-size: 0.35rem;
    }

    .theplan h1 {
        font-size: 0.5rem;
    }
}

/*Stop font scaling above $max-viewport-width 120em=1920px*/
@media (min-width: 120em) {
    :root {
        font-size: 7rem;
    }

    .head2 {
        font-size: .5rem;
    }

    .thoigian {
        font-size: .55rem;
        height: 130px !important;
        line-height: 130px !important;
    }

    .solieu {
        font-size: 1.1rem;
        height: 170px !important;
        line-height: 170px !important;
    }

    #content tr td {
        height: 300px !important;
        border-bottom: 5px solid gray !important;
    }
}

.warnFirefox {
    display: none;
}

.isFirefox .warnFirefox {
    display: block;
    font-weight: bold;
    text-align: center;
}

[id^="report"] {
    color: #ed0;
    font-size: 12px !important;
    display: none;
}

[id="report1"] {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #1a1a1a;
    text-indent: .618rem;
}



table {
    width: 100%;
    border-collapse: collapse;
}

td {
    width: 18%;
}

/*td:first-child, th:first-child {
        width: 28%;
        padding-right: 10px;
        font-size: 0.7rem;
    }*/

#tbhead {
    text-align: center;
    border-bottom: 2px solid blue;
    border-top: none;
    background-color: #e2e2e2 !important;
    background-image: linear-gradient(top, #7FD2FF, #45A8DF) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7FD2FF', endColorstr='#45A8DF') !important;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7FD2FF', endColorstr='#45A8DF') !important;
    background: -ms-linear-gradient(top, #7FD2FF, #45A8DF) !important;
    background: -moz-linear-gradient(top, #7FD2FF, #45A8DF) !important;
    background: -o-linear-gradient(top, #7FD2FF, #45A8DF) !important;
    background: -webkit-linear-gradient(top, #7FD2FF, #45A8DF) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7FD2FF), color-stop(1, #45A8DF)) !important;
}

#content {
    text-align: right;
    margin: 5px 0px;
}

    #content tr td {
        /*height: 300px;*/
        border-bottom: 2px solid gray;
    }

        #content tr td:first-child {
            text-align: right;
            /*color: #666;*/
            color: dodgerblue;
            vertical-align: top;
            position: relative;
        }



    #content tr:nth-child(odd) td:nth-child(odd) {
        background-color: #e3e3e3 !important;
    }

    #content tr:nth-child(even) td:nth-child(odd) {
        background-color: #f6f6f6 !important;
    }

    #content tr:nth-child(odd) td:nth-child(even) {
        background-color: #ebebeb !important;
    }

    #content tr:nth-child(even) td:nth-child(even) {
        background-color: #ffffff !important;
    }

#tieude td:nth-child(2) {
    background: #faab00;
    color: white;
}

#tieude td:nth-child(3) {
    background: #9bba0d;
    color: white;
}

#tieude td:nth-child(4) {
    background: #539a2d;
    color: white;
}

#tieude td:nth-child(5) {
    background: #268061;
    color: white;
}

.table-responsive {
    height: 10px;
    overflow-y: hidden;
    position: relative;
    bottom: 0px;
}

    .table-responsive:hover {
        border-color: red;
    }

.thoigian {
    color: #666;
    text-align: center !important;
    border-bottom: 1px dashed gray;
}

.plus {
    color: blue;
}

.minus {
    color: red;
}

#nodataMsg {
    background-color: #11a9e2;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0d86b3), to(#11a9e2));
    background-image: -moz-linear-gradient(#0d86b3, #11a9e2);
    background-repeat: no-repeat;
    padding: 50px;
    font-size: 2rem;
    position: absolute;
    /*float: left;*/
    top: 45%;
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    transform: translateY(-50%);
    transition-duration: 0s;
    text-align: center;
    left: 0px;
    right: 0px;
}

.loading div.off {
    -moz-animation-name: none;
    -webkit-animation-name: none;
    -ms-animation-name: none;
    animation-name: none;
}


.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

.init-slidein {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slide-in {
    100% {
        -webkit-transform: translateX(0%);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(-100%);
    }
}

.btndone-blue {
    color: #19667d;
    background: #70c9e3;
    background: -moz-linear-gradient(top, #70c9e3 0%, #39a0be 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70c9e3), color-stop(100%,#39a0be));
    background: -webkit-linear-gradient(top, #70c9e3 0%,#39a0be 100%);
    background: -o-linear-gradient(top, #70c9e3 0%,#39a0be 100%);
    background: -ms-linear-gradient(top, #70c9e3 0%,#39a0be 100%);
    background: linear-gradient(top, #70c9e3 0%,#39a0be 100%);
}

.btndone-green {
    color: #3e5706;
    background: #a5cd4e;
    background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
}

.btndone-gray {
    color: red;
    background: #d3d3d3;
    background: -moz-linear-gradient(top, #d3d3d3 0%, #8a8a8a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#8a8a8a));
    background: -webkit-linear-gradient(top, #d3d3d3 0%,#8a8a8a 100%);
    background: -o-linear-gradient(top, #d3d3d3 0%,#8a8a8a 100%);
    background: -ms-linear-gradient(top, #d3d3d3 0%,#8a8a8a 100%);
    background: linear-gradient(top, #d3d3d3 0%,#8a8a8a 100%);
}

.btndone {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(255,255,255,.22);
    font: normal 12px/25px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 1px 1px 1px rgba(255,255,255,.44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 1px 1px 1px rgba(255,255,255,.44);
    box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 1px 1px 1px rgba(255,255,255,.44);
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
    top: 20px;
    right: 10px;
    font-size: .2rem;
}

.colabnormal {
    text-align: left !important;
    vertical-align: top;
    color: red !important;
    font-style: italic;
    font-size: .5rem !important;
    padding: 10px;
}

.starburst {
    display: block;
    position: absolute;
    top: -0.8rem;
    right: 0px;
    background: #fe0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    rotation: -45deg;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: .15rem;
    font-family: Arial, sans-serif;
}

    .starburst span {
        display: block;
        width: 6em;
        height: 6em;
        background: #fe0;
        -webkit-transform: rotate(22.5deg);
        -moz-transform: rotate(22.5deg);
        rotation: 22.5deg;
    }

.donestatus {
    position: absolute;
    background-color: red;
    right: -0.5rem;
    bottom: 10px;
    color: yellow;
}

#fix30snd {
    position: relative;
    text-align: right;
}

    #fix30snd div {
        animation: blinker 5s step-start infinite;
    }

@keyframes blinker {
    50% {
        opacity: 0.3;
    }
}


#fix30snd {
    border-top: 5px dashed lightgray;
}

    #fix30snd td:nth-child(odd) {
        background-color: #e3e3e3 !important;
    }

    #fix30snd td:nth-child(odd) {
        background-color: #f6f6f6 !important;
    }

    #fix30snd td:nth-child(even) {
        background-color: #ebebeb !important;
    }

    #fix30snd td:nth-child(even) {
        background-color: #ffffff !important;
    }

#digitalclock {
    font-size: 0.5em;
    color: #707070;
    position: absolute;
    text-align: center;
    right: 0px;
    top: 0.1rem;
    background-color: black;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}


input, textarea {
    position: static;
}

#purePopupWrap * {
    margin: 0;
    padding: 0;
}

#purePopupWrap {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    background-color: rgba(0,0,0,0.1);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

    #purePopupWrap.open {
        display: block;
    }

        #purePopupWrap.open.pop {
            background-color: #666;
            background-color: rgba(0,0,0,0.6);
        }

    #purePopupWrap > div {
        position: fixed;
        z-index: 99999;
        left: 50%;
        top: 20%;
        margin-left: -170px;
        width: 300px;
        padding: 20px;
        background-color: #fff;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-transform: scale(0.2);
        -moz-transform: scale(0.2);
        -ms-transform: scale(0.2);
        transform: scale(0.2);
        border-radius: 8px;
    }

    #purePopupWrap.pop > div {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    #purePopupWrap .purePopupTitle {
        text-align: center;
        font-size: 15px;
        margin-bottom: 15px;
        background-color: yellow;
        color: red;
        font-style: italic;
    }

    #purePopupWrap input {
        display: block;
        width: 100%;
        padding: 5px;
        margin: 10px 0;
        font-size: 16px;
        outline: none;
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

        #purePopupWrap input:focus {
            border: 1px solid #29ABF7;
        }

    #purePopupWrap .purePopupButton {
        float: right;
        padding: 8px;
        margin-left: 10px;
        color: #fff;
        border-radius: 6px;
        cursor: pointer;
        background-color: #3b73af;
        user-select: none;
        user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    #purePopupWrap ._ok_ {
        background-color: #3baf73;
    }

    #purePopupWrap ._cancel_ {
        background-color: #a33;
    }

    #purePopupWrap .purePopupButton:hover {
        opacity: 0.8;
    }

    #purePopupWrap .purePopupButton:active {
        opacity: 1;
    }

.endinput {
    padding-bottom: 20px !important;
}

.sel-div {
    display: flex;
    padding: 5px 0px;
}

    .sel-div input[type=checkbox] {
        height: inherit !important;
        width: inherit !important;
        padding: 0px !important;
        margin: 2px !important;
    }
